<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>EasyGif</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <script data-ad-client="ca-pub-8552297786743968" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body class="easy">
    <div id="root">
    </div>
  </body>
</html>
